/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #303845;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    font-size: 1rem;
}

/* Link Styles */
a {
    color: #fd749b;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/* Picture and Video Styles */
picture, video {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Audio Control Styles */
audio {
    width: 100%;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }

    picture, video, audio {
        width: 100%;
    }
}
